
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  color: #4d4d4d;
}

.todoList {
  width: 500px;
  margin: 80px auto;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 25px 50px rgba(0,0,0,0.1);
  position: relative;
  bottom: 5rem;
}

.tittle{
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  margin-bottom: 20px;
}

.todoList input {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ededed;
}

.todoList input::placeholder {
  color: #e6e6e6;
}

.todoList ul {
  list-style: none;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.todoList p {
  padding: 10px 16px;
  font-size: 14px;
  color: #777;
}

.todoList button{
  border: none;
  background-color: #fff;
  color: rgb(224, 147, 147);
}

.todoList li button {
  display: none;
}

.todoList li:hover button {
  display: block;
}

.clearAll{
  padding: 10px;
}